body {
    background-color: #4b4b4b; 
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1px; /* Minimal initial height to allow content to dictate size */
    grid-gap: 10px;
  }

  .photo {
    overflow: hidden;
    width: 100%;
  }

  .photo img {
    display: block;
    width: 100%;
    object-fit: cover;
  }