body {
    background-color: #4b4b4b; 
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px; /* Height for landscape images, adjust as necessary */
    grid-gap: 10px; /* Adjust the space between the images */
}

.photo {
    display: block;
    overflow: hidden;
}

.photo img {
    width: 100%;
    display: block; /* Remove extra space below the image */
    object-fit: cover; /* Cover the area without stretching */
}