/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px; /* adjust the height of the navbar */
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.content {
    padding: 20px;
}

.profile-pic {
    width: 150px; 
    height: auto;
    border-radius: 50%; 
    margin: 10px 0;
}

.experience-section {
    margin: 0 0 20px;
}

.experience-section h2 {
    margin-top: 0;
}

.experience-section ul {
    list-style-type: none;
    padding: 0;
}

.experience-section li h4 {
    margin: 10px 0 5px;
}

.education-section h2 {
    margin-top: 30px;
}

.education-section h3 {
    margin-top: 15px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    padding: 20px;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}


@media screen and (max-width: 800px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for narrower screens */
    }
}

@media screen and (max-width: 500px) {
    .photo-grid {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}
